body {
    background-color: #452103;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

@font-face {
    font-family: "Special Elite";
    src: url("../font/Special_Elite/SpecialElite-Regular.ttf") format("truetype");
}

#jeu {
    width: 800px;
    min-height: 100px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #690500;
    font-family: Helvetica, Arial, sans-serif;
    color: #FBF2C0;
    text-align: justify;
    padding: 15px;
}

h1 {
    font-family: 'Special Elite';
    margin-bottom: 0;
}

h3 {
    margin: 0;
}

img {
    width: auto;
    height: 55%;
}

p {
    margin-top: 0;
}

#options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: flex-end;
}

#options button {
    padding: 10px 20px;
    background-color: #DC7F2E;
    color: #000000;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

#options button:hover {
    background-color: #FBF2C0;
    color: #452103;
}